


<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('<%= cl_image_path("https://res.cloudinary.com/deifubmw5/image/upload/v1731685709/sez9c1gneoacyfyqswfs.jpg", width: 400, height: 300, crop: :fill) %>')">
  <div class="container">
    <h1>All your favorite movies<strong> With your personal list</strong> for <strong>movie fan</strong>!</h1>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>
