<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://img.freepik.com/free-photo/movie-background-collage_23-2149876030.jpg?t=st=1731669868~exp=1731673468~hmac=7032cd5fd7d4bf68173733d4f20c1b3b605d7825861713371a0d090d3d9f9636&w=400);">
  <div class="container">
    <h1>All your favorite movies<strong>With your personal list</strong> for <strong>movie fan</strong>!</h1>
    <%# <a class="btn btn-flat" href="#">Apply now</a> %>
  </div>
</div>


