<div class="navbar sticky-top navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid d-flex flex-row position=relative">
   <div class="position=absolute">
    <h1 class="font-weight-bol font-italic">LASER'S YEARS</h1>
    <p class="position=absolute">Your movies, your lists, the best reviews</p>

   </div>

      <%= link_to "Home", root_path(@list), class: "btn btn-secondary position=absolute"%>


  </div>
</div>
