.navbar-lewagon {
  justify-content: space-between;
  background: linear-gradient(366deg, #ae0707, #000000e0);
  height: 140px;
  border-radius: 4px;
  margin-bottom: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h1, p{
  color: $white,

}
